/*------------------------------------ - COLOR primary ------------------------------------*/
.alert-primary {
    color: #254e2c;
    background-color: #d1e9d5;
    border-color: #c3e2c8;
}

.alert-primary hr {
    border-top-color: #b1dab8;
}

.alert-primary .alert-link {
    color: #142b18;
}

.badge-primary {
    color: #fff;
    background-color: #4da15b;
}

.badge-primary[href]:hover,
.badge-primary[href]:focus {
    color: #fff;
    background-color: #3c7e47;
}

.bg-primary {
    background-color: #4da15b !important;
}

a.bg-primary:hover,
a.bg-primary:focus,
button.bg-primary:hover,
button.bg-primary:focus {
    background-color: #3c7e47 !important;
}

.border-primary {
    border-color: #4da15b !important;
}

.btn-primary {
    color: #fff;
    background-color: #4da15b;
    border-color: #4da15b;
}

.btn-primary:hover {
    color: #fff;
    background-color: #41884d;
    border-color: #3c7e47;
}

.btn-primary:focus,
.btn-primary.focus {
    box-shadow: 0 0 0 0.2rem rgba(77, 161, 91, 0.5);
}

.btn-primary.disabled,
.btn-primary:disabled {
    color: #fff;
    background-color: #4da15b;
    border-color: #4da15b;
}

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #3c7e47;
    border-color: #377441;
}

.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus,
.show>.btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(77, 161, 91, 0.5);
}

.btn-outline-primary {
    color: #4da15b;
    background-color: transparent;
    border-color: #4da15b;
}

.btn-outline-primary:hover {
    color: #fff;
    background-color: #4da15b;
    border-color: #4da15b;
}

.btn-outline-primary:focus,
.btn-outline-primary.focus {
    box-shadow: 0 0 0 0.2rem rgba(77, 161, 91, 0.5);
}

.btn-outline-primary.disabled,
.btn-outline-primary:disabled {
    color: #4da15b;
    background-color: transparent;
}

.btn-outline-primary:not(:disabled):not(.disabled):active,
.btn-outline-primary:not(:disabled):not(.disabled).active,
.show>.btn-outline-primary.dropdown-toggle {
    color: #fff;
    background-color: #4da15b;
    border-color: #4da15b;
}

.btn-outline-primary:not(:disabled):not(.disabled):active:focus,
.btn-outline-primary:not(:disabled):not(.disabled).active:focus,
.show>.btn-outline-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(77, 161, 91, 0.5);
}

.list-group-item-primary {
    color: #254e2c;
    background-color: #c3e2c8;
}

.list-group-item-primary.list-group-item-action:hover,
.list-group-item-primary.list-group-item-action:focus {
    color: #254e2c;
    background-color: #b1dab8;
}

.list-group-item-primary.list-group-item-action.active {
    color: #fff;
    background-color: #254e2c;
    border-color: #254e2c;
}

.table-primary,
.table-primary>th,
.table-primary>td {
    background-color: #c3e2c8;
}

.table-hover .table-primary:hover {
    background-color: #b1dab8;
}

.table-hover .table-primary:hover>td,
.table-hover .table-primary:hover>th {
    background-color: #b1dab8;
}

.text-primary {
    color: #4da15b !important;
}

a.text-primary:hover,
a.text-primary:focus {
    color: #3c7e47 !important;
}