body {
    background-color: rgb(189, 211, 183);
}

.page-head {
    font-size: 3em !important;
}

.nav-item {
    font-size: 1.5em !important;
}

.nav-item a{
    text-decoration: none;
}

.carousel-inner {
    width: 100%;
    max-height: 400px !important;
}